 <footer class="main-footer">

        <div class="main-footer__adress adress">
          <span class="adress__title">приглашаем к сотрудничеству дилеров!</span>
          <address class="adress__text">ул. Большая
            Конюшенная, д. 19/8
            Санкт-Петербург</address>
        </div>      <div class="main-footer__wrapper">
        <a class="main-footer__logo" href="#">
          <img class="image-logo" src="images/main-logo-mobile.svg" width="101" height="18" alt="Главный логотип">
        </a>

      <ul class="main-footer__social">
        <li>
          <a class="main-footer__social-link main-footer__social-link--vk" href="#">
            <span class="visually-hidden">Логотип Вконтакте</span>
          </a>
        </li>
        <li>
          <a class="main-footer__social-link main-footer__social-link--yutb" href="#">
            <span class="visually-hidden">Логотип Ютуб</span>
          </a>
        </li>
        <li>
          <a class="main-footer__social-link main-footer__social-link--tlgm" href="#">
            <span class="visually-hidden">Логотип телеграмм</span>
          </a>
        </li>
      </ul>
      <a class="main-footer__academy-logo" href="https://htmlacademy.ru/">
        <span class="main-footer__academy-title">HTML Academy</span>
        <img class="academy-logo" src="images/academy-logo-.svg" width="27" height="34" alt="Логотип Академии">
        <span class="visually-hidden">Логотип Академии</span>
      </a>
      </div>
    </footer>
