{% if idPage == "index" %}
<footer class="main-footer main-footer--index">
{% else %}
<footer class="main-footer main-footer--opposite">{% endif%}

<footer class="main-footer" data-test="footer">
  <div class="main-footer__adress main-footer--adress adress">
    <span class="adress__title">приглашаем <br> к сотрудничеству дилеров!</span>
    <div class="main-footer__wrapper">
     <address class="adress__text">ул. Большая
        Конюшенная, д. 19/8
        </address>
        <span class="adress__discription">Санкт-Петербург</span>
    </div>
  </div>
    <iframe class="main-footer__map" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036257198034!2d30.32047247711874!3d59.93871916209381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2sBolshaya%20Konyushennaya%20St%2C%2019%2F8%2C%20Sankt-Peterburg%2C%20Russia%2C%20191186!5e0!3m2!1sen!2s!4v1727273388792!5m2!1sen!2s" width="320" height="362" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="main-footer__container container">
      <div class="main-footer__wrap">
        <a class="main-footer__logo" href="#">
          <svg class="image-logo image-logo--footer" width="128" height="24" alt="Главный логотип">
           <use href="../../icons/stack.svg#main-logo-mobile"></use>
          </svg>
        </a>
      </div>
      <div class="main-footer__wrap">
        <ul class="main-footer__social">
          <li>
            <a class="main-footer__social-link main-footer__social-link--vk" href="#">
              <span class="visually-hidden">Логотип Вконтакте</span>
            </a>
          </li>
          <li>
            <a class="main-footer__social-link main-footer__social-link--yutb" href="#">
              <span class="visually-hidden">Логотип Ютуб</span>
            </a>
          </li>
          <li>
            <a class="main-footer__social-link main-footer__social-link--tlgm" href="#">
              <span class="visually-hidden">Логотип телеграмм</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="main-footer__wrap main-footer__wrap--academy">
        <a class="main-footer__academy-logo-link" href="https://htmlacademy.ru/">
          <span class="main-footer__academy-title">HTML Academy</span>
          <svg class="main-footer__academy-logo" width="27" height="34" alt="Логотип Академии">
           <use href="../../icons/stack.svg#academy-logo-"></use>
          </svg>
        </a>
      </div>
  </div>
</footer>
