.adress {

}

.adress__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.adress__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
