.advantages {
  color: $black;
}

.advantages__wrapper {

}

.advantages__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    flex-flow: row;
    justify-content: space-between;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    mask-repeat: no-repeat;
    position: relative;

    &--weightless::after,
    &--weightup::after {
      width: 200px;
      height: 200px;
      content: "";
      display: inline-block;
      background-color: $basic-green;
      mask-image: url("../../icons/stack.svg#circle-background");
    }

    &--weightless::before {
      content: "";
      display: inline-block;
      background-color: $black;
      mask-image: url("../../icons/stack.svg#black-cat");
      position: absolute;
      left: 25px;
      bottom: 25px;
      z-index: 1;
      width: 140px;
      height: 194px;
    }

    &--weightup::before {
      content: "";
      display: inline-block;
      background-color: $black;
      mask-image: url("../../icons/stack.svg#black-pantere");
      position: absolute;
      bottom: 42px;
      left: -28px;
      z-index: 1;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    &--weightless::after,
    &--weightup::after,
    &--weightless::before,
    &--weightup::before {
      display: none;
    }
  }
}

.advantages__tittle {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: 110px;
  font-size: 24px;
  line-height: 37px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: $basic-green;
    mask-image: url("../../icons/stack.svg#circle-background");
    width: 50px;
    height: 50px;
  }


  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }
}


.advantages__discription {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#icon-raw");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    width: 24px;
    height: 12px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
