.extra-products {

}

.extra-products__wrapper {

}

.extra-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.extra-products__list {

}

.extra-products__item {

}

.extra-products__text {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.extra-products__discription {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra-products__price {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra-products__button {
  text-decoration: none;
  color: #ffffff;
}

.extra-products__order {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
