.extra-products {

}

.extra-products__wrapper {

}

.extra-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.extra-products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.extra-products__item {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.extra-products__text {
  font-size: 16px;
  line-height: 16px;
  color: $light-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-products__discription {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-products__price {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-products__button {
  text-decoration: none;
  color: $white;
}

.extra-products__order {
}

.extra-products__order-text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
