.main-header {
  margin: 0 auto;


  &--opened {
    display: block;
    z-index: 1;
    right: 0;

    & .main-nav {
      display: block;
    }
  }

  &--closed {
    & .main-nav {
      display: none;
    }

    @media (min-width: $tablet-width) {
      & .main-nav {
        display: block;
      }
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &--bg {
      min-height: 694px;
    }

    &--bg::before {
      background-image: image-set(url("../../images/background-image-cat-desktop@1x.png"), url("../../images/background-image-cat-desktop@1x.webp"), url("../../images/background-image-cat-desktop@2x.png"), url("../../images/background-image-cat-desktop@2x.webp"));
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      width: 50%;
      min-height: 100%;
      top: 0;
      right: 0;
    }

    &--bg::after {
      background-color: $basic-green;
      opacity: 0.85;
      background-size: contain;
      content: "";
      position: absolute;
      width: 50%;
      min-height: 100%;
      top: 0;
      right: 0;
      background-position: right;
    }
  }
}

.main-header__container {

  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
      padding-bottom: 0;
      padding-top: 50px;
    }
  }

  &--opposite {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.main-header__toggle {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--open {
    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 24px;
      background-color: $black;
      left: 10px;
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 24px;
      background-color: $black;
      left: 10px;
      top: 0;
      transform: rotate(-45deg);
    }
  }

  &--burger {
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $black;
      left: -2px;
      top: 2px;
      box-shadow: 0 8px 0 $black;
    }

    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $black;
      left: -2px;
      bottom: 3px;
    }
  }
}
