.main-header {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &--bg {
      min-height: 694px;
    }

    &--bg::before {
      background-image: image-set(url("../../images/background-image-cat-desktop@1x.png"), url("../../images/background-image-cat-desktop@1x.webp"), url("../../images/background-image-cat-desktop@2x.png"), url("../../images/background-image-cat-desktop@2x.webp"));
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      width: 50%;
      min-height: 100%;
      top: 0;
      right: 0;
    }

    &--bg::after {
      background-color: $basic-green;
      opacity: 0.85;
      background-size: contain;
      content: "";
      position: absolute;
      width: 50%;
      min-height: 100%;
      top: 0;
      right: 0;
      background-position: right;
    }
  }
}

.main-header__container {

  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
      padding-bottom: 0;
      padding-top: 50px;
    }
  }

  &--opposite {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}
