.main-footer {

}

.main-footer__wrapper {

}

.main-footer__adress {

}

.main-footer__logo {

}

.main-footer__social {
  margin: 0;
  list-style-type: none;
}

.main-footer__social-link {
  &--vk::before {
    content: "";
    display: inline-block;
    mask-image: url("../../icons/stack.svg#vkontakte-logo");
    width: 27px;
    height: 17px;
    background-color: #666666;
  }

  &--vk:hover::before &--vk:focus::before {
    background-color: #68b738;
  }

  &--yutb::before {
    content: "";
    display: inline-block;
    mask-image: url("../../icons/stack.svg#youtube-logo");
    width: 24px;
    height: 19px;
    background-color: #666666;
  }

  &--yutb:hover::before &--yutb:focus::before {
    background-color: #68b738;
  }

  &--tlgm::before {
    content: "";
    display: inline-block;
    mask-image: url("../../icons/stack.svg#telegram-logo");
    width: 20px;
    height: 17px;
    background-color: #666666;
  }

  &--tlgm:hover::before &--tlgm:focus::before {
    background-color: #68b738;
  }
}

.main-footer__academy-logo {
  text-decoration: none;
}

.main-footer__academy-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
