.site-list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 33px;
    flex-direction: row;
    margin-left: auto;
  }
}

.site-list__item {
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.site-list__link {
  text-decoration: none;
  color: $black;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    padding: 12px 0;
    display: block;

    &--current::after {
      content: "";
      display: block;
      height: 2px;
      background-color: $basic-green;
      position: absolute;
      width: 100%;
      margin-top: 8px;
    }

    @media (min-width: $desktop-width) {
      &--current::after {
        margin-top: 5px;
      }
    }
  }


  &--opposite {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  &--page::after {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      height: 2px;
      background-color: $white;
      position: absolute;
      width: 100%;
      margin-top: 6px;
    }
  }
}
