.usability {
  color: #444444;
}

.usability__wrapper {

}

.usability__tittle {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.usability__list {
  list-style-type: none;
}

.usability__item {
  padding-bottom: 24px;
  padding-top: 42px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  padding-left: 100px;


  &--leaf {
    background-image: url("../../icons/stack.svg#icon-leaf");
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  &--powder {
    background-image: url("../../icons/stack.svg#icon-powder");
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  &--cutlery {
    background-image: url("../../icons/stack.svg#icon-cutlery");
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  &--clock {
    background-image: url("../../icons/stack.svg#icon-clock");
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }
}

.usability__discription {

}
