.usability {
  color: $dark-grey;
}

.usability__wrapper {

}

.usability__tittle {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.usability__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.usability__item {
  padding-bottom: 24px;
  padding-top: 42px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  position: relative;

  &--leaf::before,
  &--powder::before,
  &--cutlery::before,
  &--clock::before {
    content: "";
    mask-image: url("../../icons/stack.svg#square-background");
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: $basic-green;
  }

  &--leaf::after {
    content: "";
    mask-image: url("../../icons/stack.svg#leaf");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 18px;
  }

  &--powder::after {
    content: "";
    mask-image: url("../../icons/stack.svg#powder");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 18px;
  }

  &--cutlery::after {
    content: "";
    mask-image: url("../../icons/stack.svg#cutlery");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 18px;
  }

  &--clock::after {
    content: "";
    mask-image: url("../../icons/stack.svg#clock");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 18px;
  }

  @media (min-width: $tablet-width) {
    width: 204px;
    height: 72px;
    background-size: 80px 80px;

    &--leaf::before,
    &--powder::before,
    &--cutlery::before,
    &--clock::before {
      width: 80px;
      height: 80px;
    }

    &--leaf::after {
      top: 66px;
      left: 28px;
    }

    &--powder::after {
      top: 66px;
      left: 28px;
    }

    &--cutlery::after {
      top: 66px;
      left: 28px;
    }

    &--clock::after {
      top: 66px;
      left: 28px;
    }
  }
}

.usability__discription {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
